@font-face {
	font-family: 'Catlove';
	src: url('./assets/fonts/Catlove.woff2') format('woff2'),
		url('./assets/fonts/Catlove.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Dongle';
	src: url('./assets/fonts/Dongle.woff2') format('woff2'),
		url('./assets/fonts/Dongle.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2 {
	font-family: 'Catlove', var(--font-stack);
}

p, button {
	font-family: "Dongle", var(--font-stack);
}