@font-face {
	font-family: 'Catlove';
	src: url('./assets/fonts/Catlove.woff2') format('woff2'),
		url('./assets/fonts/Catlove.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Dongle';
	src: url('./assets/fonts/Dongle.woff2') format('woff2'),
		url('./assets/fonts/Dongle.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}