@font-face {
	font-family: 'Catlove';
	src: url('./assets/fonts/Catlove.woff2') format('woff2'),
		url('./assets/fonts/Catlove.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Dongle';
	src: url('./assets/fonts/Dongle.woff2') format('woff2'),
		url('./assets/fonts/Dongle.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--background-color: #c9c5c1;
	--text-color: #3a3633;
	--underline-color: #80512d;
	--accent-color: #d79f6d;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--background-color);
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	margin-top: 2.3rem;
	margin-bottom: 1rem;
	display: flex;
	gap: 6rem;
}

nav button {
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
}

nav button:hover, .current-page-btn {
	text-decoration: underline wavy 2px var(--underline-color);
}

h1, h2 {
	font-family: 'Catlove', var(--font-stack);
	color: var(--text-color);
}

h1 {
	font-size: 6rem;
	position: relative;
}

h1::before {
	content: "cat café";
	position: absolute;
	font-size: 2.5rem;
	left: 40px;
	bottom: -20px;
}

p, button {
	font-family: "Dongle", var(--font-stack);
	color: var(--text-color);
}

#content {
	background-color: var(--text-color);
	flex: 1;
}

footer {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

footer p {
	font-size: 1.8rem;
	font-style: normal;
}

.home {
	background-image: url(./assets/images/home.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.home::before, .about::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: #3a363359;
	z-index: -1;
}

.menu {
	background-image: url(./assets/images/menu.jpg);
	background-size: cover;
	background-position: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-section {
	display: flex;
	padding: 3rem 0 0 8rem;
	gap: 4rem;
}

.menu-section *, .menu-footnote {
	color: var(--background-color);
}

.menu-section h2 {
	font-size: 4rem;
	margin-bottom: 1rem;
	color: var(--accent-color);
}

.menu-section ul {
	line-height: 1;
	margin-left: 2rem;
}

.menu-section ul li {
	list-style-type: none;
	font-family: "Dongle", var(--font-stack);
	font-size: 3rem;
}

.menu-section ul li p {
	font-size: 0.6em;
	margin-bottom: 0.2em;
}

.menu-section ul li span {
	color: var(--accent-color);
}

.food-section {
	margin-top: 8rem;
}

.menu-footnote {
	margin-top: 1.6rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	color: var(--accent-color);
}

.about {
	background-image: url(./assets/images/about.jpg);
	background-position: left 40%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	padding-right: 6rem;
}

.about * {
	color: var(--background-color);
}

.about h2 {
	font-size: 4rem;
	color: var(--accent-color);
}

.about .info-container {
	width: 650px;
	font-size: 2rem;
	text-align: right;
	padding: 2rem 0;
	line-height: 1.2;
}

.about .info-container p:first-of-type {
	margin-bottom: 1rem;
}

.about a {
	font-family: "Dongle", var(--font-stack);
	font-size: 2.5rem;
	text-decoration-color: var(--accent-color);
}

.about a:first-of-type {
	margin-right: 2.5rem;
}

.about a:hover {
	color: var(--accent-color);
}